.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: rgb(80, 80, 80);
    /* background-color: rgb(50, 50, 50); */
    background-color: rgb(28, 28, 28);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
  }